<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<!--
  使用 v-for 把一个数组对应为一组元素。使用 v-for 指令根据一组数组的选项列表进行渲染。v-for 指令需要使用 (item in items)
  形式的特殊语法，items是源数据数组，item是数组元素迭代的别名
-->
<ul id="example-1">
    <li v-for="item in items">{{ item.message }}</li>
</ul>

<!--
  在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数作为当前项的索引
-->
<ul id="example-2">
    <li v-for="(item,index) in items">
        {{parentMessage}}-{{index}}-{{item.message}}
    </li>
</ul>

<!--
  也可以使用 of 替代 in 作为分隔符，因为他是最接近JavaScript迭代器的语法
  一个对象的 v-for。可以使用 v-for 通过一个对象的属性来迭代
-->
<ul id="v-for-object" class="demo">
    <li v-for="value of object">
        {{value}}
    </li>

    <!-- 可以提供第二个参数作为键名 -->
    <div v-for="(value,key) in object">
        {{key}}-{{value}}
    </div>

    <!-- 第三个参数作为索引 -->
    <div v-for="(value,key,index) in object">
        {{index}}-{{key}}-{{value}}
    </div>

    <!-- 为确保每个节点的身份，需要为 v-for 的每一项提供一个唯一的 key 属性，理想的 key 值是每项都有的唯一的id -->
    <div v-for="item in items" :key="item.id">
        <!-- 内容 -->
    </div>
</ul>

<!--
  显示过滤、排序结果
-->
<ul id="example-3">
    <li v-for="n in evenNumbers">{{n}}</li>
</ul>

<!--
  在计算属性不适用的情况下，也可以使用一个 methods 方法
-->
<ul id="example-4">
    <li v-for="n in even(numbers)">{{n}}</li>
</ul>


<div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input v-model="newTodoText" id="new-todo" placeholder="......"/>
        <button>Add</button>
    </form>
    <ul>
        <li
                is="todo-item"
                v-for="(todo,index) in todos"
                :key="todo.id"
                :title="todo.title"
                @remove="todos.splice(index,1)"
        >
            <!--
              注意：上面的 is="todo-item" 属性，这种做法在使用DOM模板时时十分需要的，因为在 <ul> 元素内只有 <li> 元素
                    会被看做有效内容。这种做法的实现效果和 <tode-item> 相同，但是可以避开一些潜在的浏览器解析错误
            -->

        </li>
    </ul>
</div>


<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })
    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                {message: 'Foo'},
                {message: 'Bar'}
            ]
        }
    })
    var vForObject = new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })
    var example3 = new Vue({
        el: '#example-3',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        //计算属性，主要就是对数据进行一定的操作。可以包含逻辑处理操作，对计算属性中的数据进行监控。计算属性是基于它的依赖进行
        // 更新的，只有在相关依赖发生改变时才能更新变化，以函数的形式返回结果，然后可以向绑定普通属性一样在模板中绑点计算属性
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 !== 0
                })
            }
        }
    })
    var example4 = new Vue({
        el: '#example-4',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    //定义一个名为 todo-item 的新组建
    Vue.component('todo-item', {
        template:'<li>{{title}}<button @click="$emit(\'remove\')">Remove</button></li>',
        props: ['title']
    })

    var todoListExample = new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                {
                    id: 1,
                    title: 'one......'
                },
                {
                    id: 2,
                    title: 'two......'
                },
                {
                    id: 3,
                    title: 'three......'
                }
            ],
            nextTodoId: 4
        },
        methods: {
            addNewTodo: function () {
                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    })

</script>
</body>
</html>