<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>组件案例-评论列表</title>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- 1、安装 vue-router 路由模块 -->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="app">

  <!--
    分析：
      1、需要先监听到文本框的改变，这样才能知道什么时候去拼接出一个 fullName
      2、如何监听到文本框数据的改变。keyup事件：文本框事件，文本框的内容反生改变时触发该事件
  -->

  <input type="text" v-model="firstName" @keyup="getFullName"/>+
  <input type="text" v-model="lastName" @keyup="getFullName"/>=
  <input type="text" v-model="fullName"/>
</div>


<script>
  //创建Vue实例，得到 ViewModel
  var vm = new Vue({
    el: '#app',
    data: {
      firstName: '',
      lastName: '',
      fullName: ''
    },
    methods: {
      getFullName() {
        this.fullName = this.firstName + '-' + this.lastName
      }
    }
  })
</script>
</body>
</html>